---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-cm
data:
  index.html: |
    <!doctype html>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>My AKS App</title>
    </head>
    <body>
    <h1 style="text-align: center">Hello from Azure Kubernetes Service!</h1>
    </body>
    </html>
