---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: nginx-cm
      containers:
        - name: nginx
          image: nginx:stable
          volumeMounts:
            - name: config-volume
              mountPath: /usr/share/nginx/html
          ports:
            - name: http
              containerPort: 80
